@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

* {
    font-family: inter;
    font-weight: bold;
    margin: 0%;
    text-decoration: none;
}
body {
    background:   rgb(197, 235, 205);
    overflow: hidden;

}
table{
    margin-left: 25%;
    margin-top: 4%;
    font-size: 23px;
}
table thead tr{
    background-color: #2DAE00;
} 
  .login {
    background-color: #265c1f;
    border: 0;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 13px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.greenplace {
    color: #124B54;
    font-size: 30px;
    gap: 20%;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'New Rocker', cursive;
    cursor: pointer;
}

.btn-listagem {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 100px;
}

@media screen and (max-width: 900px) {
.greenplace{
   display: none;
}

.login {
    display: none;
}
}